doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="description", content= metaDescription)
        meta(name="author", content="")

        link(rel="shortcut icon", href="/assets/ico/favicon.ico")

        title= metaTitle

        //- Bootstrap core CSS
        link(href="/assets/css/bootstrap.min.css", rel="stylesheet")
        
        //- Custom styles for this template
        link(href="/assets/css/blog.css", rel="stylesheet")

        //- Awesome fonts
        link(href="/shared/css/font-awesome.min.css", rel="stylesheet")

        //- <!-- Just for debugging purposes. Don't actually copy this line! -->
        //- <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

        //- <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        //- <!--[if lt IE 9]>
        //-   <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        //-   <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        //- <![endif]-->
    body
        .blog-masthead
            .container
                nav.blog-nav
                    a.blog-nav-item(href="/", class=$if('active', context, '/')) Home
                    a.blog-nav-item(href="/about", class=$if('active', context, '/about')) About

        .container
            .blog-header
                h1.blog-title: a(href=url)= title
                p.lead.blog-description= description

            .row
                .col-sm-8.blog-main
                    block content
                    
                .col-sm-3.col-sm-offset-1.blog-sidebar
                    //- .sidebar-module.sidebar-module-inset
                    //-     h4 About
                    //-     p 
                    //-         if post
                    //-             img(src=author.image, style="display:block;")
                    //-         =author.bio
                    if archives
                        .sidebar-module.sidebar-module-inset
                            h4 Archives
                            ol.list-unstyled
                                each archive in archives
                                    li: a(href=$date(archive.date, '/YYYY/MM'))= $date(archive.date, 'MMMM, YYYY')
                    if labels
                        .sidebar-module.sidebar-module-inset
                            h4 Labels
                            ul.list-inline
                                each label in labels
                                    li: a(href=$labelUrl(label.label))= label.label
                    .sidebar-module.sidebar-module-inset
                        h4 Elsewhere
                        ol.list-unstyled
                            li: a(href="#")
                                i.fa.fa-github
                                |  GitHub
                            li: a(href="#")
                                i.fa.fa-twitter
                                |  Twitter
                            li: a(href="#")
                                i.fa.fa-facebook-square
                                |  Facebook

        .blog-footer
            p!= copyright
            p: a(href="#") Back to top

        //- Bootstrap core JavaScript
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js")
        script(src="/assets/js/bootstrap.min.js")
        script(src="/assets/js/docs.min.js")