extends layout

block content
    .blog-post(itemscope, itemtype="http://schema.org/BlogPosting")
        h2.blog-post-title(itemprop="name")= post.title
        p.blog-post-meta
            time(datetime=$date(post), itemprop="datePublished")= $date(post, 'MMMM DD, YYYY')

            //- Display author if available
            if post.author
                |  by  
                if post.author.website
                    a(href=author.website)= post.author.name
                else
                    = post.author.name

        section(itemprop="description articleBody")!= post.content

        footer.blog-post-footer
            .row
                .col-md-7.col-sm-8
                    //- Display author if available
                    if post.author
                        .media(itemprop="author", itemscope, itemtype="http://schema.org/Person")
                            meta(content=author.website, itemprop="url")
                            a.pull-left(href=author.website)
                                img.img-circle.img-thumbnail.media-object.blog-author-img(src=author.image, alt=author.name, itemprop="image")
                            .media-body
                                h4.media-heading Written By
                                h4: strong(itemprop="name")= author.name

                                if author.bio
                                    p.text-muted: small: em(itemprop="description")= author.bio

                .col-md-4.col-md-offset-1.col-sm-4
                    h4 Share this post
                    ul.list-inline
                        li: a(href='http://twitter.com/share?text='+$encode(post.title)+'&url='+$url(true), onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"): i.fa.fa-fw.fa-lg.fa-twitter
                        li: a(href='https://www.facebook.com/sharer/sharer.php?u='+$url(true), onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"): i.fa.fa-fw.fa-lg.fa-facebook
                        li: a(href='https://plus.google.com/share?url='+$url(true), onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"): i.fa.fa-fw.fa-lg.fa-google-plus
